<div class="modal">
  <ion-header-bar>
    <h1 class="title">About</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAbout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<div style="padding:20px">
		<h3>Demo app for GDG DevFest Mediterranean</h3>
		<img src="img/cover.jpg" width="100%"/>
		<p>Author: <a onclick="window.open('https://twitter.com/Alexintosh', '_system', 'location=yes'); return false;" href="https://twitter.com/Alexintosh">Alessio Delmonti</a></p>
		<p>Source: <a onclick="window.open('https://github.com/Alexintosh/Devfest-Ionic-Demoapp')" href="">GitHub</a></p>
		<p>Powered by: <a  onclick="window.open('http://ionicframework.com/')" href="">Ionic framework</a></p>
	</div>
  </ion-content>
</div>
