<ion-view title="Hackthlon">
  <ion-content class="has-header">
<div style="padding:5px">
<h2>Hackathon</h2>
<hr/>
<p><span style="font-size: medium;"><span>Durante la DevFest ci sarà un <strong>Hackathon</strong> di sviluppo per device Google e non. Vi chiederemo nei prossimi giorni di cominciare a formare i team. </span></span></p>
<p><span style="font-size: medium;"><span>Nel pomeriggio di Sabato 18 verrà consegnato il device scelto durante l'iscrizione del team Ecco i dispositivi disponibili:   </span></span></p>
<p><span style="font-size: medium;"><span>- Android Wear <br />- Android TV <br /></span><span>- Chromecast<br />- Board UDOO</span></span></p>
<p><span style="font-size: medium;"><span><br /></span></span></p>
<p><span style="font-size: medium;"><span><strong>Tema dell'hackathon</strong>: Realizzare un'applicazione di carattere sociale, che possa essere di aiuto ad associazioni impegnate socialmente come il Rotary</span></span></p>
<p><span style="font-size: medium;"><span><strong>Premi</strong>: Assegno di 500€ offerto dal Rotary, Biglietto omaggio per il team vincitore alla Startup Weekend di Palermo, ... altri premi in fase di definizione.</span></span></p>
<p><span style="font-size: medium;"><span><strong>Tempo a disposizione:</strong> Da Sabato 18 ore 19:00 a Domenica 19 ore 13:30</span></span></p>
<p><span style="font-size: medium;"><span>Ogni team dovrà presentare l'applicazione sul palco della DevFest domenica pomeriggio.</span></span></p>
<p> </p>
<p dir="ltr"><span style="font-size: small;"><strong>Cos'è un Hackathon?</strong></span></p>
<p> <span style="font-size: small;">Hackathon è un meeting in cui hackers ed esperti di informatica si riuniscono per una sessione di programmazione informatica collaborativa. Una maratona di cervelli per far nascere nuove idee e progettare soluzioni informatiche utili. Le regole da conoscere sono poche: da solo o in team, devi realizzare una App ìsu una traccia che verrà assegnata nel tempo che ti viene dato a disposizione. Alla fine dell’Hackathon avrai qualche minuto per presentare la tua creazione ad un'apposita giuria, che premierà le più meritevoli in base ad una selezione di criteri che verranno resi noti fin dall’inizio.</span></p>
<p><span style="font-size: small;"><strong>A chi si rivolge l’Hackathon?</strong></span></p>
<p> <span style="font-size: small;">Hackathon è per tutti, chiunque possa avere un’idea o un progetto interessante che porti il suo contributo. Hackathon è un evento che si rivolge non esclusivamente a professionisti, ma a chiunque sia interessato alla tecnologia e al mondo dell’informatica: sviluppatori di software e di app, programmatori che operano nel campo del mobile, studenti, designer e semplici appassionati, che si potranno presentare soli o in team organizzati.</span></p>
<p><span style="font-size: small;"><br /></span></p>
<p dir="ltr"><span style="font-size: small;"><strong>Come partecipare all’Hackathom</strong></span></p>
<ol>
<li>Effettuare la registrazione online, prenotando il device</li>
<li>Creare 1 slide che spieghi la vostra idea in 2-3 minuti, servirà a reclutare sviluppatori durante la DevFest;</li>
<li>Lavorare al progetto durante le pause della DevFes</li>
<li>Creare una presentazione finale insieme a tutto il team (max 5 slide) 5-7 minuti, meglio se si realizza una demo mediante l'uso del device messo a disposizione. </li>
</ol>
<p><span style="font-size: small;"><br /></span></p>
<p dir="ltr"><span style="font-size: small;"><strong>Criteri di valutazione dell’App</strong></span></p>
<p dir="ltr"><span style="font-size: small;">Innovazione, </span><span style="font-size: small;">Design, </span><span style="font-size: small;">Usabilità, </span><span style="font-size: small;">Realizzazione Demo, </span><span style="font-size: small;">Aderenza al tema.</span></p>
<p><span style="font-size: small;"><br /></span></p>
<p dir="ltr"><span style="font-size: small;"><strong>Regole per l’uso dei device a disposizione dei Team</strong></span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span style="font-size: small;">Il device si riceverà dopo aver fatto richiesta alla postazione specifica, servirà solo per testare la propria applicazione;</span></p>
</li>
</ul>
<p> </p>
<p dir="ltr"><span style="font-size: small;"><strong>Link utili</strong></span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>MYO gesture control armband </span><a href="https://www.thalmic.com/en/myo/" target="_blank"><span>https://www.thalmic.com/en/myo/</span></a></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>GOOGLE TV </span><a href="https://developers.google.com/tv/android/docs/gtv_addon" target="_blank"><span>https://developers.google.com/tv/android/docs/gtv_addon</span></a></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>CHROMECAST </span><a href="https://developers.google.com/cast/" target="_blank"><span>https://developers.google.com/cast/</span></a></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>CARDBOARD </span><a href="https://developers.google.com/cardboard/overview" target="_blank"><span>https://developers.google.com/cardboard/overview</span></a></p>
</li>
<li dir="ltr">
<p dir="ltr">GOOGLE WEAR <a href="https://developer.android.com/wear/index.html" target="_blank">https://developer.android.com/wear/index.html</a></p>
</li>
</ul>
</div>
  </ion-content>
</ion-view>
