<ion-view title="Hackthlon">
  <ion-content class="has-header">
<div style="padding:5px">
<h2>Ingress street game</h2>
<hr />
<p><img src="img/ingress.jpg" style="width:100%"/></p>
<p><span style="font-size: medium;">Sabato sera realizzando un contest <strong>Ingress</strong> lungo le strade di Sant'Agata di Militello, un modo per divertirsi anche durante le pause della DevFest. Sant'Agata è un luogo ideale per giocare anche a piedi visto la presenza di più di 30 portali.</span></p>
<p><strong><span style="font-size: medium;">Modalità di partecipazione:</span></strong></p>
<p><span style="font-size: medium;">- Riservata a tutti i registrati alla DEVFEST</span></p>
<p><span style="font-size: medium;">- Registrazione: Sabato 18 ottobre tra le ore 14:00 e le ore 19:00 viene rilevato dallo staff della DevFest (zona check-in) il punteggio AP e in nome utente ingress.</span></p>
<p><span style="font-size: medium;">- Verifica finale: Domenica 19 entro le 15:00 è necessario ripassare dalla zona check-in della DevFest per verificare l'incremento del punteggio AP</span></p>
<p><span style="font-size: medium;">- Verrà fatta una classifica in base all'incremento del punteggio AP rilevato dal dispositivo (AP finale - AP iniziale = AP incremento)</span></p>
<p><span style="font-size: medium;">- Per gli utenti di livello L1 a L3 l'incremento AP verrà moltiplicato per 2 al fine di livellare gli handicap iniziali con chi ha un account di livello più elevato</span></p>
<p><span style="font-size: medium;">- In base alla disponibilità dei premi, intorno alle ore 17:30 di Domenica 19 verranno consegnati i premi.</span></p>
<p><span style="font-size: medium;">- Ognuno è libero di adottare le strategie che ritiene più opportune per aumentare il proprio punteggio AP</span><span style="font-size: medium;"> </span></p>
</div>
  </ion-content>
</ion-view>
