<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable" style="height:100px">
    	<img src="img/devfest.png"/>
    </header>
    <ion-content class="has-header">
      <ion-list>
	<ion-item class="item item-icon-left" menu-close href="#/app/calendar" style="margin-top: 55px;">
		<i class="icon ion-calendar"></i>
		Programma
		<span class="badge badge-assertive">15</span>
	</ion-item>

	<ion-item class="item item-icon-left" menu-close href="#/app/hack">
		<i class="icon ion-beaker"></i>
		Hackathon
	</ion-item>

	<ion-item class="item item-icon-left" menu-close href="#/app/ingress">
		<i class="icon ion-game-controller-b"></i>
		Ingress street game
	</ion-item>
	<ion-item class="item item-icon-left" menu-close href="#/app/partners">
		<i class="icon ion-cash"></i>
		Sponsor & Partners
	</ion-item>
	<ion-item nav-clear ng-click="about()">
		<i class="icon ion-person"></i>
		About
		<i class="icon ion-ionic"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
